---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro'
---

<Layout title="Page">
	<main >

        <section class="w-full lg:w-[740px] mx-auto py-44">
            <h1 class="text-white font-bold flex justify-center text-5xl gap-x-4 pb-4">Hey, soy AriDev
                 <a class="flex justify-center items-center" 
                 href="https://www.linkedin.com/in/frank-mu%C3%B1oz-large-621aa8252/"
                 target="_blank"
                 rel="noopener"
                 ><Badge>Disponible para trabajar</Badge></a></h1>
            <h2 class="text-xl opacity-80">Tengo experiencia en desarrollo web y front end. De Santa Marta, Colombia.
                 me expecializo en crear aplicaciones web y aplicaciones moviles.</h2>
        </section>
       
    </main>
</Layout>

<style>
	
</style>
