<article class="flex flex-col items-center justify-center gap-8 text-white md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text--500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        ¡Hola! Soy Arian Sophia, una apasionada desarrolladora web con un enfoque en crear experiencias 
        digitales únicas y funcionales. Con varios años de experiencia en el desarrollo 
        y diseño de sitios web,
          me especializo en transformar ideas en realidad a 
          través de soluciones personalizadas y adaptadas a las necesidades de cada cliente.
      </p>
  
      <p>
        Algunos de mis éxitos incluyen 
          Mi camino en el desarrollo web comenzó con un profundo interés por la tecnología y el diseño.
           Desde entonces, he perfeccionado mis habilidades en una amplia gama de tecnologías y herramientas,
        
        incluyendo HTML, CSS, JavaScript, y frameworks como React 
      </p>
  
    </div>
  
    
  
  </article>