---
import Badge from "./Badge.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Social from "./Social.astro";
import GitHub from "./icons/GitHub.astro";
import Mail from "./icons/Mail.astro";
import Sophimage from './Image/Sophimage.jpg'


const personalImageAlt = "Sophimage"
---



<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
      <img
        class="rounded-full shadow-lg size-16"
        src={Sophimage.src}
        alt={personalImageAlt}
      />
      <a
        href="https://www.linkedin.com/in/frank-mu%C3%B1oz-large-621aa8252/"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
    </div>
    <h1
      class="text-4xl font-bold tracking-tight text-white sm:text-5xl "
    >
      Hey, soy AriSophDev.
    </h1>
    <p
    class="mt-6 text-xl text-blue-300 [&>strong]:text-pink-300 [&>strong]:font-semibold"
  >
    2 años de experiencia. <strong
      >Desarrolladora Front End </strong
    > de Santa Marta, Colombia. Especializada en el desarrollo de aplicaciones web
    únicas.
  </p>

    <nav class="flex flex-wrap gap-4 mt-8 text-white">
      <Social href="mailto:Sophialarge@gmail.com">
        <Mail class="size-4" />
        Contáctame
      </Social>
      <Social href="https://www.linkedin.com/in/frank-mu%C3%B1oz-large-621aa8252/">
        <LinkedIn class="size-4" />
        LinkedIn
      </Social>
      <Social href="https://github.com/AriSophDev">
        <GitHub class="size-4"/>
        GitHub
      </Social>
    </nav>
  </div>
